<div ng-app>
  <h2>Books</h2>
  <div ng-controller="HttpBooksController">
		<div ng-repeat='b in books'><a href="books/{{b.code}}">{{b.title}}</a></div>
    <form style="width: 300px" ng-submit="addBook()">
      <div>
        <input type="text" class="form-control" ng-model="book.title" placeholder="Title"/>
      </div>
      <div>
        <input type="text" class="form-control" ng-model="book.author" placeholder="Author"/>
      </div>
      <input class="btn btn-primary" type="submit" value="add">
    </form>
  </div>
</divdiv>