<div ng-app>
    <h2>Books</h2>

    <div>
        <form class="form-inline" ng-submit="addBook()">
            <input type="text" class="form-control" ng-model="book.title" placeholder="Title"/>
            <input type="text" class="form-control" ng-model="book.author" placeholder="Author"/>
            <input class="btn btn-primary" type="submit" value="add">
        </form>

        <h3>List</h3>

        <input type="text" class="form-control" ng-model="bookFilter" placeholder="Filter">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
            </tr>
            </thead>
            <tbody ng-repeat='b in books | filter:bookFilter'>
            <tr>
                <td>
                    <a href="#/resourcebooks/{{b._id}}">{{b.title}}</a>
                </td>
                <td>
                    <a href="books/author/{{b.author}}">{{b.author}}</a>
                </td>
                <td>
                    <input class="btn btn-danger" type="submit" value="Delete" ng-click="deleteBook(b._id)">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>