<div ng-app>
  <h2>Books</h2>
  <div ng-controller="HttpBooksController">
    <table class="table table-hover">
      <thead
        <tr>
          <th>
            Title
          </th>
          <th>
            Author
          </th>
        </tr>
      </thead>
      <tbody ng-repeat='b in books'>
        <tr>
          <td>
            <a href="books/{{b.code}}">{{b.title}}</a>
          </td>
          <td>
            <a href="books/{{b.code}}">{{b.author}}</a>
          </td>
        </tr>
      </tbody>
    </table>
    <form style="width: 300px" ng-submit="addBook()">
      <div>
        <input type="text" class="form-control" ng-model="book.title" placeholder="Title"/>
      </div>
      <div>
        <input type="text" class="form-control" ng-model="book.author" placeholder="Author"/>
      </div>
      <input class="btn btn-primary" type="submit" value="add">
    </form>
  </div>
</divdiv>